# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/cache files
.pytest_cache/

# Large local data/model files
# Uncomment these if they are too large for GitHub
data/
models/