# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test/cache files
.pytest_cache/

# Large files handled by Git LFS
data/*
models/*

!data/RAW_recipes.csv
!data/recipes_deploy.csv
!models/recipe_embeddings.npy

# Local database backup
recipe_chatbot_backup.sql